*{
  margin:0;
  padding:0;
  font-family:verdana;
}
#abc{
  width:100%;
  height:100vh;
  background-image: url(background.png);
  background-size: cover;
}
nav{
  width: 100%;
  height: 50px;
  background-color: #0000;
  line-height: 50px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:#A6ACAF;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}
