*{
  margin:0;
  padding:0;
  font-family:verdana;
}
<<<<<<< HEAD
p{
  margin-top: 250px;

}
body {
  background-image: url(Background5.jpg);
=======
body {
  background-image: url(Background2.jpg);
>>>>>>> 5a4ac25b78a9c894cbf25c7ed84d313e6d35bb25
  background-size:cover;
  font-family: 'Product Sans', serif;
}
nav{
  width: 100%;
  height: 50px;
  background-color: #0000;
  line-height: 50px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:#A6ACAF;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}
