*{
  box-sizing: border-box;

}

*, *:before, *:after {
  box1-sizing:inherit;
}
.row{
  align-items: center;
  float:center;
  position:relative;
  float: none;
  align-content: center;
  display: table;
  margin-left: 110px;
  margin-right:auto;
}

.column {
  float:left;
  width: 30%;
  margin-bottom: 16px;
  padding: 50px 50px;
  border-spacing: 20px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    background-color: #273746;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #273746;
  padding: 10px 50px;
  float: left;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
body{
  background-image: url(Background3.jpg);
  background-size:contain;
  color: white;
  font-family: 'Product Sans', serif;
  align-content: center;
  text-align: center;
}
h1{
  text-align: center;
  font-family: 'Product Sans', serif;
  color: #DC7633;
  font-weight: 400;
  font-size: 2.2em;
}
h2{
  color: #DC7633;
  font-weight: 400;
  font-size: 1.5em;
}
.footer {
  background-color:#273746 ;
  padding: 10px;
  text-align: center;
}
nav{
  width: 100%;
  height: 50px;
  background-color: #0000;
  line-height: 50px;
  font-family: verdana;
}
nav ul{
  float:inherit;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:#273746;
}
nav ul li a{
  text-decoration: none;
  color: #FFF;
  padding: 30px;
}
nav ul{
  float: center;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:#273746;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}
.header {
  background-color: #1B2631;
  background: fade(#1B2631,3%);
  color: fade(#1B2631 ,80%);
  font-family: 'Product Sans', serif;
  align-content: center;
    text-align: right;
}
